<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flexinets.Radius.Disconnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Flexinets.Radius.Disconnector.Properties.Settings>
            <setting name="Flexinets_Radius_Disconnector_com_telekomaustria_m2msimplify_TAGExternalAPIImplService"
                serializeAs="String">
                <value>https://m2msimplify.telekomaustria.com:443/TAGWebServices/tagExternalAPI</value>
            </setting>
        </Flexinets.Radius.Disconnector.Properties.Settings>
    </applicationSettings>
</configuration>